body {
    text-align: center;
}

form {
    display: grid;
}

form label {
    display: block;
}

#add-article #authors,
#add-article #tags {
    display: grid;
    justify-content: center;
}

#add-aricle #authors input,
#add-article #tags input {
    display: block;
}

#add-article textarea {
    resize: vertical;
    width: 600px;
    height: 500px;
    color: var(--font-color);
    background-color: var(--neutral-color);
}

#add-article button {
    display: inline-block;
}

textarea,
input {
    font-family: "Helvetica";
}

input[type="submit"],
button {
    transition: color 0.2s ease, background-color 0.2s ease;
}

input[type="submit"],
button,
textarea,
input {
    outline: none;
    color: var(--font-color);
    background-color: var(--neutral-color);
    border: 1px solid var(--font-color);
    padding: 4px;
    margin-bottom: 5px;
}

form input[type="submit"]:hover,
form button:hover {
    color: var(--neutral-color);
    background-color: var(--font-color);
}
