body {
    text-align: center;
}

form {
    display: grid;
}

form label {
    display: block;
}

#add-article #authors,
#add-article #tags {
    display: grid;
    justify-content: center;
}

#add-aricle #authors input,
#add-article #tags input {
    display: block;
}

#add-article textarea {
    resize: vertical;
    width: 600px;
    height: 500px;
}

#add-article button {
    display: inline-block;
}
