body {
    background-color: rgba(224, 176, 255, 0.5);
    font-family: "Helvetica";
}

a {
    text-decoration: none;
    text-justify: none;
    color: black;
}

.article .header {
    max-width: 700px;
    margin: 0px auto;
    padding-bottom: 0.5rem;
}

.article .header h1 {
    text-align: center;
    line-height: 1.2;
    font-size: 3.5rem;
    padding-top: 1.2rem;
    padding-bottom: 0.5rem;
    margin: 0;
}

.article img {
    max-width: 100%;
    max-height: 100%;
}

.article .header a,
.article-snippet a:not(.title) {
    font-style: italic;
    text-decoration: underline;
    text-indent: 0rem;
    opacity: 0.45;
}

.article .header a:hover,
.article-snippet a:hover {
    opacity: 1;
}

.article .contents {
    max-width: 650px;
    margin: 0px auto;
    text-indent: 2rem;
    line-height: 1.2;
    padding-bottom: 1rem;
    text-align: justify;
    text-justify: auto;
}

.article-container {
    margin: 15px auto;
    padding: 0px 0px;
    max-width: 1200px;
}

.article-container .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 3fr));
    gap: 1rem;
}

@media (max-width: 800px) {
    .article-container .grid {
        margin: 0 0 30px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 2fr));
        gap: 1rem;
    }
}

.article-snippet {
    background-color: rgba(224, 176, 255, 0.3);
    border: 1px solid #00000049;
    padding: 15px 15px;
}

.article-snippet .title {
    text-align: justify;
    text-justify: auto;
    text-align: center;
    display: block;
    font-size: 1.6rem;
}

.article-snippet .description {
    text-align: justify;
    text-justify: auto;
}

.article-snippet .title:hover {
    transition: color 0.15s;
    color: #63089c;
}

.article-snippet img {
    max-width: 50%;
    max-height: 50%;
}

#main-nav {
    font-family: 'Times New Roman';
}

.no-select {
    -webkit-user-select: none;
    user-select: none;
}

.main-nav-button {
    position: absolute;
    right: 25px;
    top: 1.7rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.main-nav-button input
{
    position: absolute;
    cursor: pointer;
    margin: -2px 0px 0px -5px;
    width: 32px;
    height: 32px;
    opacity: 0;
    z-index: 9999;
}

.main-nav-button span
{
    background: black;
    width: 32px;
    height: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
    z-index: 1;
}

.main-nav-button span
{
    transform-origin: 0% 0%;
    transition: transform 0.2s ease-in-out;
}

.main-nav-button span:nth-last-child(2)
{
    transition: transform 0.1s ease-in-out;
}

.main-nav-button span:nth-last-child(1)
{
    transform-origin: 0% 100%;
    transition: transform 0.2s ease-in-out;
}

.main-nav-button input:checked ~ span
{
    transform: rotate(45deg) translate(0px, 0px);
}

/*The middle line gets hidden*/
.main-nav-button input:checked ~ span:nth-last-child(2)
{
    transform: scaleY(0);
}

.main-nav-button input:checked ~ span:nth-last-child(1)
{
    transform: rotate(-45deg) translate(0px, 0px);
}

.open {
    display: block !important;
}

#logo {
    line-height: 0;
}

#main-nav {
    text-align: center;
}

@media (max-width: 1023px) {
    #logo {
        align-items: left;
    }

    #logo-link {
        display: inline-block;
        text-align: center;
    }

    #main-nav {
        position: fixed !important;
        width: 100%;
        left: 0;
        box-sizing: border-box;
        display: none;
        background-color: #d4b0e9;
        z-index: 9999;
        transition: top 0.4s;
        top: -100%;
    }

    #main-nav.open {
        top: 0;
        opacity: 1;
    }

    #main-nav a {
        display: block;
        font-size: 1.6rem;
        line-height: 1.6;
        text-decoration: underline;
    }

    .main-nav-button
    .main-nav-button span {
        display: block;
    }
}

@media (min-width: 1024px) {
    #logo {
        text-align: center;
    }

    #main-nav {
        display: block;
        max-width: 100%;
        margin: 0px auto;
        padding: 5px 0px 5px 0px;
        border-top: solid 1px;
        border-bottom: solid 1px;
    }

    #main-nav a {
        width: 120px;
        background-color: #d4b0e9;
        display: inline-block;
        position: relative;
        font-size: 1.5rem;
        padding: 5px 1.5rem;
    }

    #main-nav a:after {
        position: absolute;
        bottom: 0;
        content: "";
        height: 2px;
        left: 50%;
        background: black;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    #main-nav a:hover:after {
        width: 100%;
        left: 0;
    }

    .main-nav-button,
    .main-nav-button span {
        display: none;
    }
}
