:root {
    --main-color: rgba(224, 176, 255, 0.3);
    --secondary-color: #002642;
    --accent-color: #BD2D87;
    --accent-color-lower-opacity: #BD2D8770;
    --font-color: #02040F;
    --neutral-color: #E5DADA;
    /* #002642 #840032 #E59500 #E5DADA #02040F */
    /* #63089c #00000049 #f4e9e9 #d4b0e9 */
}

:root.dark-theme {
    --font-color: #E5DADA;
    --neutral-color: #02040F;
}

body {
    background-color: var(--neutral-color);
    font-family: "Helvetica";
}

body.open {
    /* Make it impossible to scroll */
    overflow: hidden;
}

.no-select {
    -webkit-user-select: none;
    user-select: none;
}

a,
.article,
#main-nav {
    color: var(--font-color);
}

#header,
#main-nav {
    background-color: var(--neutral-color);
}

a {
    text-decoration: none;
    text-justify: none;
}

.article .headline {
    max-width: 700px;
    margin: 0px auto;
    padding-bottom: 0.5rem;
}

.article .headline h1 {
    text-align: center;
    line-height: 1.2;
    font-size: 3.5rem;
    padding-top: 1.2rem;
    padding-bottom: 0.5rem;
    margin: 0;
}

.article img {
    max-width: 100%;
    max-height: 100%;
}

.article .headline a,
.article-snippet a:not(.title) {
    font-style: italic;
    text-decoration: underline;
    text-indent: 0rem;
    opacity: 0.45;
}

.article .headline a:hover,
.article-snippet a:hover {
    opacity: 1;
}

.article .contents {
    max-width: 650px;
    margin: 0px auto;
    text-indent: 2rem;
    line-height: 1.2;
    padding-bottom: 1rem;
    text-align: justify;
    text-justify: auto;
}

.article-container {
    margin: 15px auto;
    padding: 0px 0px;
    max-width: 1200px;
}

.article-container .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 3fr));
    gap: 1rem;
}

.article-snippet {
    background-color: var(--main-color);
    border: 1px solid #00000042;
    padding: 15px 15px;
}

.article-snippet .title {
    text-align: justify;
    text-justify: auto;
    text-align: center;
    display: block;
    font-size: 1.6rem;
    transition: color 0.2s;
}

.article-snippet .description {
    text-align: justify;
    text-justify: auto;
}

.article-snippet .title:hover {
    color: var(--accent-color);
}

.article-snippet img {
    max-width: 50%;
    max-height: 50%;
}

#header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--font-color);
}

#logo {
    z-index: 3;
    position: relative;
    line-height: 0;
}

#logo h1 {
    color: var(--accent-color);
}

#logo span {
    color: var(--secondary-color);
}

#logo-link {
    display: inline-block;
}

#main-nav {
    z-index: 2;
    font-family: 'Times New Roman';
    text-align: center;
}

#theme-button {
    position: fixed;
    cursor: pointer;
    z-index: 4;
    bottom: 10px;
    left: 10px;
}

#theme-button input {
    opacity: 0;
}

#theme-button span {
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 21px;
    border-radius: 34px;;
    background-color: var(--font-color);
    transition: background-color 0.2s ease;
}

#theme-button span::before {
    content: "";
    position: absolute;
    width: 17px;
    aspect-ratio: 1;
    left: 2px;
    bottom: 2px;
    border-radius: 50%;
    background-color: var(--neutral-color);
    transition: transform 0.2s ease;
}

#theme-button input:checked ~ span::before {
    transform: translateX(100%);
}

#theme-button input:checked ~ span {
    background-color: var(--accent-color);
}

@media (max-width: 1023px) {
    #logo {
        padding-left: 10px;
    }

    #logo-link {
        display: inline-block;
        text-align: center;
    }

    #page-body {
        padding-top: 65px;
    }

    #main-nav {
        position: fixed;
        width: 100%;
        left: 0;
        transition: top 0.3s ease;
        top: -100%;
        height: 100%;
    }

    #main-nav.open {
        top: 64px;
    }

    #main-nav a {
        display: block;
        font-size: 1.6rem;
        line-height: 1.6;
        text-decoration: underline;
    }

    #main-nav-button {
        position: absolute;
        right: 25px;
        top: 18px;
        z-index: 10;
        display: flex;
        flex-direction: column;
    }

    #main-nav-button input {
        position: absolute;
        cursor: pointer;
        margin: -2px 0px 0px -5px;
        width: 32px;
        height: 32px;
        opacity: 0;
        z-index: 3;
    }

    #main-nav-button span {
        background: var(--font-color);
        width: 32px;
        height: 3px;
        margin-top: 4px;
        margin-bottom: 4px;
        z-index: 1;
    }

    #main-nav-button span {
        transform-origin: 0% 0%;
        transition: transform 0.2s ease-in-out;
    }
    #main-nav-button span:nth-last-child(2) {
        transition: transform 0.1s ease-in-out;
    }
    #main-nav-button span:nth-last-child(1) {
        transform-origin: 0% 100%;
        transition: transform 0.2s ease-in-out;
    }

    #main-nav-button input:checked ~ span {
        transform: rotate(45deg) translate(0px, 0px);
    }
    #main-nav-button input:checked ~ span:nth-last-child(2) {
        transform: scaleY(0);
    }
    #main-nav-button input:checked ~ span:nth-last-child(1) {
        transform: rotate(-45deg) translate(0px, 0px);
    }
}

@media (min-width: 1024px) {
    #logo {
        text-align: center;
    }

    #page-body {
        padding-top: 115px;
    }

    #main-nav {
        display: block;
        max-width: 100%;
        margin: 0px auto;
        padding: 5px 0px 5px 0px;
        border-top: solid 1px var(--font-color);
    }

    #main-nav a {
        width: 120px;
        background-color: var(--accent-color-lower-opacity);
        display: inline-block;
        position: relative;
        font-size: 1.5rem;
        padding: 5px 1.5rem;
    }

    #main-nav a:after {
        position: absolute;
        bottom: 0;
        content: "";
        height: 2px;
        left: 50%;
        background: var(--font-color);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    #main-nav a:hover:after {
        width: 100%;
        left: 0;
    }

    #main-nav-button {
        display: none;
    }
}
