:root {
    --font-color: black;
    --neutral-color: #fafafa;
    --landing-color: #e56717;
    --button-hover-color: #aaaaaa95;
    --textarea-hover-color: #dadada99;
    --admin-font-family: "Hind";
    --border-radius: 8px;
}

form {
    label {
        display: block;
    }
}
button,
textarea,
select,
input {
    font-family: var(--admin-font-family);
    outline: none;
    color: var(--font-color);
    background-color: var(--neutral-color);
    border: 1px solid var(--font-color);
    padding: 4px;
    margin: 5px;
}

input:not([type="text"]):not([type="password"]),
button,
select {
    cursor: pointer;
}

input[type="submit"],
button {
    transition: background-color 0.2s;
}
button:hover,
input[type="submit"]:hover {
    background-color: var(--button-hover-color);
}

.sectionbox {
    background-color: white;
    padding: 20px;
    margin: 15px auto 15px auto;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#admin-page {
    background-color: var(--neutral-color);
    width: 100%;
    display: grid;
    grid-template-columns: 300px auto;
    font-family: var(--admin-font-family);

    #panels, #content {
        position: relative;
    }

    #panels {
        padding: 10px !important;
        margin: 0 !important;
        border-radius: 0 !important;
        font-size: 1.2rem;
        border-right: 2px solid black;

        #userinfo {
            text-align: center;
            position: relative;
            p {
                display: inline-block;
                vertical-align: middle;
                font-family: "Baskervville";
                font-size: 1.2em;
                -webkit-text-stroke-color: black;
                -webkit-text-stroke-width: 1px;
            }
        }

        .panel-button {
            text-align: center;
            display: block;
            padding: 5px;
            transition: background-color 0.2s;
            color: blue;
            text-decoration: none;
        }
        .panel-button:hover {
            background-color: var(--button-hover-color);
        }
        .panel-button.selected {
            background-color: var(--button-hover-color);
        }

        hr {
            margin: 10px;
        }
    }

    #content {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        text-align: center;
        text-rendering: optimizeLegibility;
        .form-container {
            max-width: 400px;
        }
        form {
            input {
                width: 100%;
                margin-left: 0px;
                margin-right: 0px;
            }
            input[type="submit"] {
                margin-top: 15px;
            }
        }
        table {
            width: auto;
            max-width: 90%;
            margin: 0 auto 0 auto;
        }

        input {
            display: block;
        }

        .panel-heading {
            width: 100%;
            font-family: "Kameron";
            > h1 {
                display: inline-block;
            }
            > a {
                width: 32px;
                aspect-ratio: 1;
                margin-left: 32px;
                color: blue;
                border: 1px solid black;
                text-decoration: none;
                font-size: 1.6rem;
                vertical-align: center;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                transition: background-color 0.2s;
            }
            > a:hover {
                background-color: gray;
            }
        }

        table {
            font-family: var(--admin-font-family);
            text-align: center;
            td {
                padding: 0 10px 0 10px;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
            }
        }

        .stage-button {
            display: inline-block;
            width: 32px;
            aspect-ratio: 1;
            margin: 3px;
        }
        .stage-button-current {
            cursor: default;
            color: white;
        }
        .stage-button-current.stage-button-public {
            background-color: green;
        }
        .stage-button-current.stage-button-draft {
            background-color: yellow;
            color: black;
        }
        .stage-button-current.stage-button-trash {
            background-color: red;
        }
    }
}

#edit-article-page {
    background-color: var(--neutral-color);
    font-family: var(--admin-font-family);

    #editing-stages {
        z-index: 1;
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid black;
        background-color: white;
        margin-top: -15px;
        button {
            margin: 0;
            border: none;
            font-family: "Helvetica";
            text-transform: uppercase;
            padding: 15px;
            color: blue;
            text-decoration: none;
        }
    }

    #article-submit-button {
        font-size: 1rem;
        position: fixed;
        z-index: 999;
        margin: 0;
        top: 10px;
        right: 20px;
        background-color: #DD2222;
    }

    #edit-article-dtp,
    #preview-page {
        display: none;
    }

    #edit-article-content, #edit-article-dtp {
        padding-top: 60px;
        text-align: center;
    }

    .sectionbox {
        width: 100%;
    }

    label {
        text-align: center;
        font-size: 1.2rem;
    }
    input, select, textarea {
        font-size: 1rem;
        transition: background-color 0.2s ease;
    }
    input:hover, select:hover {
        background-color: var(--button-hover-color);
    }
    textarea:hover {
        background-color: var(--textarea-hover-color);
    }
    select {
        text-align: center;
    }

    #edit-article-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: auto;
        .input-multiple {
            position: relative;
            .add-button {
                width: 100px;
                border-radius: var(--border-radius);
            }
            input {
                height: 100%;
                display: table-cell;
                vertical-align: middle;
            }
            .delete-button {
                height: 100%;
                display: table-cell;
                vertical-align: middle;
            }
        }
        #article-meta-editor {
            margin: 0 auto;
            width: 450px;
            height: inherit;
        }
        #text-editor {
            height: inherit;
            width: 100%;
            max-width: 80%;
            margin: 0 auto;
            textarea {
                border-radius: var(--border-radius);
                padding: 10px;
                resize: none;
                width: 100%;
                height: 100%;
            }
        }
    }

    #edit-article-dtp {
        margin: 0 auto;
        max-width: 400px;
        #preview-minified-thumbnail {
            width: 300px;
            margin: 0 auto;
        }
    }
}

@media(max-width: 800px) {
    #admin-page {
        display: block;
        #panels {
            border-right: none;
            font-size: 1rem;
            #userinfo {
                p {
                    margin: 0;
                }
                form {
                    display: inline;
                    button {
                        display: inline;
                    }
                }
            }
        }
        #content {
            table {
                font-size: 0.9rem;
                td {
                    padding: 0 2px 0 2px;
                }
            }
        }
        .stage-button {
            width: 18px;
        }
    }
    #edit-article-page {
        #editing-stages {
            width: 100%;
            button {
                font-size: 0.7rem;
            }
        }
        #article-submit-button {
            top: 0px;
            right: 0px;
        }
        #edit-article-content {
            display: block;
            #article-meta-editor {
                width: 100%;
            }
            #text-editor {
                max-width: 100%;
                margin-left: 0;
                margin-right: 0;
                height: 600px;
            }
        }
    }
}
