#admin-page {
    background-color: #a46044;
    width: 100%;

    font-family: "Hind";
    #panels, #content {
        position: absolute;
        background-color: #ffffff80;
        height: 95%;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid black;
    }

    #panels {
        padding: 10px;
        left: 20px;
        border-radius: 12px;
        font-size: 1.2rem;
        width: 300px;

        #userinfo {
            text-align: center;
            p, img {
                display: inline-block;
                vertical-align: middle;
            }
            p {
                font-family: "Baskervville";
                font-size: 1.2em;
                -webkit-text-stroke-color: black;
                -webkit-text-stroke-width: 1px;
            }
            img {
                width: 32px;
                aspect-ratio: 1;
                margin-right: 10px;
            }
        }

        button {
            text-transform: uppercase;
            width: 100%;
            border-radius: 10px;
            font-size: 1rem;
        }

        .active-button {
            background-color: lightgreen;
        }

        hr {
            margin: 10px;
        }
    }

    #content {
        > div {
            position: absolute;
            display: none;
        }
        > .active-tab {
            display: initial;
        }
        padding: 30px;
        left: 340px;
        border-radius: 12px;
        width: calc(100% - 340px - 20px);
        font-size: 1.2rem;
        .article-list {
            text-align: center;
            width: calc(100% - 2 * 30px);
            .article-row {
                display: grid;
                grid-template-columns: 1.2rem 4fr 1fr 1fr 1fr 1fr;
                padding-bottom: 15px;
                a {
                    color: darkblue;
                    transition: color 0.2s;
                }
                a:hover {
                    color: #007080;
                }
                p {
                    margin: 0;
                }
                form {
                    display: inline-block;
                }
            }
        }
        .pdfprint-row {
            display: grid;
            grid-template-columns: 1.2rem 1fr 1fr 1fr !important;
            margin: 0 auto !important;
            width: 60% !important;
        }
        #tab-articlesDrafts {
            text-align: center;
            #add-article-form {
                margin-left: 1.2rem;
                button {
                    width: 40px;
                    aspect-ratio: 1;
                    line-height: 40px;
                    border-radius: 50%;
                    font-size: 2rem;
                    padding: 0;
                    margin: 0;
                }
            }
        }
        #tab-changePassword {
            text-align: center;
            border-radius: 10px;
            padding: 15px;
            background-color: #ffffff50;
            border: 1px solid black;
        }
    }
}

form {
    label {
        display: block;
    }
    input[type="file"] {
        padding: 4px;
        text-align: center;
    }
}

input[type="submit"],
button {
    transition: background-color 0.2s;
}

input:not([type="text"]):not([type="password"]),
button,
select {
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
    background-color: #aaaaaa95;
}

button,
textarea,
select,
input {
    font-family: "Arial";
    outline: none;
    color: var(--font-color);
    background-color: var(--neutral-color);
    border: 1px solid var(--font-color);
    padding: 4px;
    margin-bottom: 5px;
}

#edit-article-page {
    #editing-stages {
        z-index: 1;
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid black;
        background-color: white;
        margin-top: -15px;
        button {
            margin: 0;
            border: none;
            font-family: "Helvetica";
            text-transform: uppercase;
            padding: 15px;
            color: blue;
            text-decoration: none;
        }
    }

    #edit-article-dtp,
    #preview-page {
        display: none;
    }

    #edit-article-content {
        padding-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;

        .input-multiple {
            position: relative;
            .add-button {
                width: 100px;
                border-radius: 10px;
            }
            input {
                height: 100%;
                display: table-cell;
                vertical-align: middle;
            }
            .delete-button {
                height: 100%;
                display: table-cell;
                vertical-align: middle;
            }
        }
        #left {
            margin: 0 auto;
            width: 450px;
            font-family: "Arial";
            font-size: 1.2rem;
            h1 {
                margin: 0;
            }
            input[type="text"] {
                font-size: 1.1rem;
            }
            input[name="title"] {
                width: 100%;
                font-size: 1.4rem;
            }
            label {
                padding-top: 30px;
                padding-bottom: 5px;
                text-align: left;
            }
        }
        textarea {
            margin: 0 auto;
            font-family: "Arial";
            border-radius: 10px;
            padding: 10px;
            resize: none;
            width: 700px;
            height: 800px;
        }
    }

    #edit-article-dtp {
        margin: 0 auto;
        width: 20%;
        justify-items: center;
        padding-top: 50px;
        font-family: "Arial";
        #reset-thumbnail-button {
            vertical-align: middle;
        }
        label {
            padding-top: 15px;
        }
    }

    #article-submit-button {
        font-size: 1rem;
        position: fixed;
        z-index: 999;
        top: 20px;
        right: 20px;
        background-color: #DD2222;
    }
}
