#account-pannel,
#article-pannel  {
    text-align: center;
}

form {
    label {
        display: block;
    }
    select {
        cursor: pointer;
    }
    input[type="file"] {
        padding: 4px;
        text-align: center;
    }
}

input[type="submit"],
button {
    transition: color 0.2s ease, background-color 0.2s ease;
}

button,
textarea,
select,
input {
    font-family: "Helvetica";
    outline: none;
    color: var(--font-color);
    background-color: var(--neutral-color);
    border: 1px solid var(--font-color);
    padding: 4px;
    margin-bottom: 5px;
    transition: border 0.2s ease;
}

button:focus,
textarea:focus,
select:focus
input:focus {
    border: 1px solid var(--font-color);
}

#account-pannel a {
    display: block;
    padding: 10px;
}

#article-pannel {
    h1 {
        display: inline-block;
    }

    #add-article-button {
        display: inline-block;
        margin-left: 20px;
        vertical-align: middle;
        text-align: center;
        input {
            padding: 10px;
            aspect-ratio: 1;
            width: 60px;
            border-radius: 30%;
            border: 2px solid var(--font-color);
            font-size: 1.6rem;
        }
    }

    .article-actions {
        padding-bottom: 15px;
        form {
            display: inline-block;
        }
    }
}

#account-pannel a,
#article-pannel a {
    margin: 0px auto;
    width: 120px;
    border: 1px solid var(--snippet-border-color);
    background-color: var(--main-color);
    text-decoration: 1px solid underline;
    transition: color 0.2s ease;
}

#editing-stages {
    z-index: 1;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    background-color: white;
    margin-top: -15px;
    button {
        margin: 0;
        cursor: pointer;
        border: none;
        font-family: "Helvetica";
        text-transform: uppercase;
        padding: 15px;
        color: blue;
        text-decoration: none;
    }
}

#edit-article-dtp,
#preview-page {
    display: none;
}

#edit-article-content {
    padding-top: 30px;

    #authors,
    #tags {
        position: relative;
        display: grid;
        justify-content: center;
    }
    #authors-add,
    #tags-add {
        width: 100px;
        border-radius: 10px;
    }
    #authors .author button,
    #tags .tag button {
        margin-left: 15px;
        vertical-align: center;
        padding: 0.8rem;
        border-radius: 50%;
        aspect-ratio: 1;
        line-height: 50%;
        text-align: center;
    }
    #left {
        width: 500px;
        font-family: "Arial";
        font-size: 1.2rem;
        position: absolute;
        top: 60px;
        left: 300px;
        input {
            font-size: 1.1rem;
        }
        input[name="title"] {
            width: 100%;
            font-size: 1.4rem;
        }
        label {
            padding-top: 30px;
            padding-bottom: 5px;
            text-align: left;
        }
        text-align: center;
        padding: 50px;
        float: left;
    }
    textarea {
        font-family: "Arial";
        position: absolute;
        border-radius: 10px;
        padding: 10px;
        top: 60px;
        right: 300px;
        resize: none;
        width: 700px;
        height: calc(100vh - 120px);
    }
}

#edit-article-dtp {
    text-align: center;
    padding-top: 200px;
    font-family: "Arial";
    #reset-thumbnail-button {
        vertical-align: middle;
    }
}
