body {
    text-align: center;
}

#admin-pannel {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#admin-pannel a,
#remove-article a {
    border: 1px solid var(--snippet-border-color);
    background-color: var(--main-color);
    text-decoration: 1px solid underline;
    transition: color 0.2s ease;
}

#admin-pannel a {
    display: block;
    padding: 10px;
}

#admin-pannel a:hover,
#remove-article a:hover {
    color: var(--accent-color);
}

#admin-pannel a,
#remove-article a {
    margin: 0px auto;
    width: 120px;
    border: 1px solid var(--snippet-border-color);
    background-color: var(--main-color);
    text-decoration: 1px solid underline;
    transition: color 0.2s ease;
}

.article-item {
    padding-bottom: 15px;
}

form {
    display: grid;
}

form label {
    display: block;
}

#add-article #authors,
#add-article #tags {
    display: grid;
    justify-content: center;
}

#add-aricle #authors input,
#add-article #tags input {
    display: block;
}

#add-article textarea {
    resize: vertical;
    width: 600px;
    height: 500px;
    color: var(--font-color);
    background-color: var(--neutral-color);
}

#add-article button {
    display: inline-block;
}

textarea,
input {
    font-family: "Helvetica";
}

input[type="submit"],
button {
    transition: color 0.2s ease, background-color 0.2s ease;
}

input[type="file"] {
    padding: 4px;
    text-align: center;
}

button,
textarea,
input {
    outline: none;
    color: var(--font-color);
    background-color: var(--neutral-color);
    border: 1px solid var(--font-color);
    padding: 4px;
    margin-bottom: 5px;
    transition: border 0.2s ease;
}

button:hover,
textarea:hover,
input:hover {
    border: 1px dashed var(--accent-color);
}

button:focus,
textarea:focus,
input:focus {
    border: 1px solid var(--accent-color);
}

form input[type="submit"]:hover,
form button:hover {
    color: var(--neutral-color);
    background-color: var(--font-color);
}

@media (max-width: 600px) {
    #add-article textarea {
        width: 98%;
    }
}
