:root {
    --font-color: black;
    --neutral-color: white;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    > * { /* such that elements on mobile screens don't go to the very edges */
        padding-left: 6px;
        padding-right: 6px;
    }
}

* {
    box-sizing: border-box;
}

#main-page {
    background-color: #f6f6f6;
}

#main-page-header {
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 20px;
    #website-title-container {
        position: relative;
        margin: 0 auto;
        text-align: center;
        h1 {
            letter-spacing: 0.1rem;
            font-family: "Baskervville";
            line-height: 1;
            font-size: 4.8em;
            margin: 0;
            a {
                color: white;
                -webkit-text-stroke-width: 3px;
                -webkit-text-stroke-color: #ff4b33;
                paint-order: stroke fill;
                text-decoration: none;
            }
        }
        h6 {
            font-family: "Kameron";
            font-size: 0.9em;
            margin-top: 0;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    hr {
        max-width: 90%;
        margin: 0 auto 0 auto;
    }
}

#main-page-contents {
    text-align: center;
}

#main-page-contents #introduction {
    margin-top: 2rem;
    font-family: "Hind";
    ul, li {
        font-size: 1.5rem;
        display: block;
        margin: 0;
        padding: 0;
    }
    #types-of-texts {
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        grid-gap: 0.5rem;
        #text {
            display: flex;
            align-items: center;
            border-right: 2px solid black;
            height: 100%;
            ul {
                padding-right: 20px;
                justify-self: right;
                text-align: right;
            }
        }
        #languages {
            display: flex;
            align-items: center;
            height: 100%;
            border-left: 2px solid black;
            ul {
                padding-left: 20px;
                text-align: left;
                justify-self: left;
            }
        }
    }
    #call-to-action {
        margin-top: 1rem;
        font-family: "Kameron";
        * {
            margin: 0;
        }
        h1 {
            font-family: "Georgia", serif;
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 16px;
            line-height: 1;
        }
        h4 {
            opacity: 0.9;
            font-style: italic;
            font-weight: 500;
        }
    }
    #further-explanation {
        * {
            margin: 0;
        }
        h5 {
            margin: 0 auto;
            max-width: 700px;
        }
        h4 {
            opacity: 0.8;
            font-weight: 500;
            margin-top: 5px;
        }
        p {
            margin-top: 20px;
            line-height: 1;
        }
    }
    .pdfprint-highlight-container {
        margin: 0;
        display: grid;
        margin: 0 auto;
        width: 350px;
    }
}

.squiggly-line {
    margin: inherit;
    background-image: url("/squiggly-line.svg");
    content: "";
    display: inline-block;
    transform: translateZ(0);
    max-width: 800px;
    width: 95%;
    height: 6px;
}

#main-page-contents p {
    font-family: "Hind";
    margin: 0;
    margin-top: 32px;
    font-size: 1.3rem;
}

#pdfprint-thumbnail-grid {
    position: relative;
    display: grid;
    margin: 0 auto;
    width: calc(3 * 300px + 2 * 2rem);
    grid-template-columns: repeat(3, 300px);
    gap: 2rem;
}

/* If the last row has only one element, put it in the center */
#pdfprint-thumbnail-grid .pdfprint-thumbnail:nth-child(3n-2):last-child {
    grid-column: 1 / -1;
}

.pdfprint-thumbnail {
    position: relative;
    padding-top: 15px;
    text-align: center;
    transition: all .1s linear;

    img {
        padding: 10px;
        border: 1px solid #00000066;
        height: 400px;
        aspect-ratio: 1 / 1.41;
    }
    .pdfprint-description {
        font-family: "Baskervville";
        transition: all .1s linear;
        color: var(--font-color);
        text-decoration: none;
        font-size: 1.4rem;
        background-image: linear-gradient(#fc6a03, #fc6a03);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 100% 1px;
    }
}

.pdfprint-thumbnail:has(> a:hover) {
    transform: scale(1.06);
    .pdfprint-description {
        color: var(--neutral-color);
        background-size: 100% 100%;
    }
}

#not-found-page {
    #not-found-info {
        text-align: center;
        margin: 100px auto;
        max-width: 700px;
        font-size: 2rem;
        h1 {
            color: transparent;
            font-family: "Kameron";
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: black;
            paint-order: stroke fill;
            margin-bottom: 0;
        }
        h2 {
            line-height: 1;
            margin-top: 0;
        }
        a {
            color: #0000ff;
            transition: color 0.1s;
        }
        a:hover {
            color: #0070ff;
        }
    }
}

#copyright {
    font-family: "Kameron", sans-serif;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    margin: 1rem 0 0 0;
    margin-inline: auto;
}

/************ MEDIA QUERIES ************/
@media(max-width: calc(950px + 5rem)) {
    #pdfprint-thumbnail-grid {
        width: calc(600px + 1rem);
        grid-template-columns: repeat(2, 300px);
        grid-gap: 1rem;
    }
}

@media(max-width: calc(650px + 3rem)) {
    #pdfprint-thumbnail-grid {
        width: 300px;
        grid-template-columns: repeat(1, 300px);
    }
}

@media(max-width: 420px) {
    #main-page #introduction {
        ul, li {
            font-size: 1.2rem;
        }
    }
    #not-found-page #not-found-info {
        margin-top: 40px;
        font-size: 1.9rem;
    }
}
