:root {
    --font-color: black;
    --neutral-color: white;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#main-page {
    background-size: cover;
    background-image: url(/images/test.png);
    background-attachment: fixed;
    background-position: center top;
}

* {
    box-sizing: border-box;
}

#article-info #authors-list span,
.no-select {
    -webkit-user-select: none;
    user-select: none;
}

#main-page-header {
    position: relative;
    height: 180px;
    width: 100%;
    border-bottom: 4px solid black;
    background-color: #ffffff;
}

#main-page-header #website-title-container {
    position: relative;
    top: 20%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    h1 {
        font-family: "Times New Roman";
        font-size: 4.8em;
        margin: 0;
    }
    h6 {
        font-family: "Helvetica";
        margin: 0;
    }
}

#main-page-header #links {
    position: absolute;
    font-size: 1.4rem;
    right: 10%;
    top: 10%;
}

#introduction-square {
    margin: 200px auto 100px auto;
    padding: 10px;
    width: 450px;
    background-color: #ffffff;
    font-family: "Times New Roman";
    font-size: 1.4em;
    border-radius: 50px;
    text-align: center;
}

#articles-section {
    position: relative;
    margin: 0 auto;
    /*background-color: #f0f0f0;*/
    background-color: #ffffff;
    width: 72%;
    height: calc(400vh);
    border-radius: 25px;
    padding: 25px;
    margin-bottom: 30px;
}

#article-thumbnail-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 4fr));
    gap: 2rem;
}

.article-thumbnail {
    position: relative;
    border: 1px solid #00000066;
    /* todo: limit the number of characters in the title to avoid overflow */
    height: 400px;
    transition: transform 0.25s;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.article-thumbnail:hover {
    transform: scale(1.06);
}

.article-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-break: strict;
    font-family: "Helvetica";
    color: #a0a090;
    text-rendering: optimizeLegibility;
    mix-blend-mode: difference;
    filter: contrast(10) drop-shadow(.1rem .1rem orange) grayscale(1);
}

#article-headline {
    position: relative;
    width: 100%;
    img {
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }
    h1 {
        font-size: 4.8rem;
    }
}

#article-info {
    width: 32%;
    margin: 0 auto;
    font-family: "Times New Roman";
    font-size: 1.3rem;
    a {
        color: #000080;
        text-decoration: underline;
        font-style: italic;
        transition: color 0.1s;
        padding-left: 5px;
        padding-right: 5px;
    }
    a:hover {
        color: #009090;
    }
    span {
        padding: 5px;
    }
}

#authors-list {
    text-align: center;
    margin: 0 auto;

    h3 {
        font-size: 0.9rem;
        margin-bottom: 0;
    }
}

#article-contents {
    width: 30%;
    margin: 0 auto;
    text-indent: 4rem;
    text-align: justify;
    font-family: "Arial";
    :first-child {
        text-indent: 0;
    }
    :first-child::first-letter {
            color: black;
            padding: 0.8rem;
            border: 2px solid;
            margin: 4px;
            margin-right: 20px;

            font-size: 5rem;
            float: left;
            line-height: 1;
    }
}

hr {
    margin: 50px auto 50px auto;
    border: 1px solid black;
}
