server {
    listen [::]:443 ssl http2 ipv6only=on;
    listen 443 ssl http2 default_server;
    server_name licariri;

    ssl_protocols TLSv1.3 TLSv1.2;
    ssl_certificate /etc/letsencrypt/live/subdomeniudnsdinamic.go.ro/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/subdomeniudnsdinamic.go.ro/privkey.pem;

    server_tokens off;

    add_header Content-Security-Policy "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self' mesota.ro instagram.com whatsapp.com facebook.com;img-src 'self' data:;object-src 'none';script-src 'self' 'unsafe-inline' https:;script-src-attr 'none';style-src 'self' 'unsafe-inline' https:;upgrade-insecure-requests" always;
    add_header Referrer-Policy "no-referrer";
    add_header Strict-Transport-Security max-age=31536000;
    add_header X-Content-Type-Options "nosniff";

    add_header Pragma public;
    add_header Cache-Control "public";

    proxy_set_header Connection 'upgrade';
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_http_version 1.1;

    location ~* \.(?:png|jpe?g|svg|webp|css)$ {
        limit_except GET { deny all; }
        expires 28d;
        proxy_pass http://127.0.0.1:8000;
    }

    location /login {
        limit_except GET POST { deny all; }
        limit_req zone=ipjail burst=2 nodelay;
        proxy_pass http://127.0.0.1:8000;
    }

    location / {
        limit_except GET POST { deny all; }
        proxy_pass http://127.0.0.1:8000;
    }
}

server {
    listen 80;
    server_name licariri;
    return 301 https://$host$request_uri;
}
