server {
    listen 443 ssl default_server;
    server_name licariri;

    ssl_certificate /etc/letsencrypt/live/subdomeniudnsdinamic.go.ro/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/subdomeniudnsdinamic.go.ro/privkey.pem;

    #gzip on;
    #gzip_min_length 1000;
    #gunzip on;
    #gzip_types text/plain text/html text/css;
    #gzip_proxied any;

    location ~* \.(?:png)$ {
        expires 28d;
        add_header Pragma public;
        add_header Cache-Control "public";

        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
        proxy_pass http://127.0.0.1:8000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
        proxy_pass http://127.0.0.1:8000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}

server {
    listen 80;
    server_name licariri;
    return 301 https://$host$request_uri;
}
